.skill-work{
    padding: 10px 100px 50px 100px;
}


.profile-button a:hover{
    color:black;
}


.skills{
    display:flex;
    max-width:90%;
    margin:0 auto;
    margin-bottom:35px;
}
.skill-title{
    margin:35px 0;
}
.skill-title h1{
    font-size:30px;
}


.link a:hover{
    color:rgb(12, 12, 12);
}


.coding{
    background-color:rgba(198, 198, 198, 0.2);
    border:1px solid black;
    width:50%;
    margin-right:15px;
    padding:20px;
}
.coding h1{
    font-size:20px;
}
.coding p{
    padding:10px 0 5px 0;
}


.one-table{
    margin:0 auto;
}
.one-table tr td{
    width:400px;
    font-size:14.5px;
}
.one-table tr{
    height:50px;
}

.two-table{
    margin:0 auto;
}
.two-table tr td{
    width:400px;
    font-size:14.5px;
}
.two-table tr{
    height:50px;
}


.frontend{
    background-color:rgba(198, 198, 198, 0.2);
    border:1px solid black;
    width:50%;
    margin-left:15px;
    padding:20px;
}
.frontend h1{
    font-size:20px;
}
.frontend p{
    padding:10px 0 5px 0;
}


.portfolio-title{
    margin-bottom:35px;
}
.portfolio-title h1{
    font-size:30px;
}
.portfolio{
    width:100%;
    margin: 0 auto;
    margin-bottom:35px;

}


.pf1{
    border:1px solid black;
    width:70%;
    height:400px;
    margin-bottom:40px;
    margin: 10px auto;
}


.image-skill{
    width:100%;
    height:400px;
}
.image-skill img{
     width:50%;
}


.contact{
    padding:10px;
    background-color:rgba(218, 125, 75, 0.8);
    padding-bottom:40px;
    text-align: center;
}
.contact h1{
    font-size:30px;
}


.contact-text{
    padding:10px;
}


@media screen and (min-width:1040px){
    .portfolio-title{
        margin-bottom:35px;
    }
}


@media screen and (max-width:715px)and (min-width:641px){
    .skill-work{
        padding:0;
    }

    .profile-button{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
    }
    .Button-pro{
        width:45%;
    }    
    .skills{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .coding{
        padding:0;
        width:100%;
        margin:0;
        margin-bottom:35px;
    }
    .frontend{
        padding:0;
        width:100%;
        margin:0;
    }
    .portfolio{
        width:100%;
    }
    .portfolio-title{
        margin-bottom:35px;
    }
}


@media screen and (max-width:640px){
    .skill-work{
        padding:0;
    }

    .profile-button2{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;        
    }
    .pro2{
        width:45%;
    }
    .skills{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .coding{
        padding:0;
        width:100%;
        margin:0;
        margin-bottom:35px;
    }
    .frontend{
        padding:0;
        width:100%;
        margin:0;
    }
    .portfolio{
        width:100%;
    }
    .portfolio-title{
        margin-bottom:35px;
    }
}


@media screen and (max-width:450px){
    .skill-work{
        padding:0;
    }
    .profile-button2{
        display:flex;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;        
    }
    .pro2{
        width:100%;
    }
    .skills{
        display:flex;
        flex-direction: column;
        width:100%;
    }
    .coding{
        padding:0;
        width:100%;
        margin:0;
        margin-bottom:35px;
    }
    .frontend{
        padding:0;
        width:100%;
        margin:0;
    }
    .portfolio{
        width:100%;
    }
    .portfolio-title{
        margin-bottom:35px;
    }
}


